[submodule "themes/jacman"]
	path = themes/jacman
	url = git@github.com:tianjiaoling/jacman.git
	branch = myblog
[submodule "themes/hexo-theme-next"]
	path = themes/hexo-theme-next
	url = git@github.com:tianjiaoling/hexo-theme-next.git
	branch = myblog
